<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Northwind</title>
    <link rel="icon" type="image/png" href="~/favicon.ico" />
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'
          type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/Home/Index" class="navbar-brand"><i class="fa fa-home"></i> Home</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-database"></i> Products<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="~/Product/Category"><i class="fa fa-list"></i> Browse Categories</a></li>
                            <li><a href="~/Product/Search" id="search"><i class="fa fa-search"></i> Product Search</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="~/Product/Discount"><i class="fa fa-tag"></i> Current Discounts</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-database"></i> Customers<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="~/Customer/Account"><i class="fas fa-user-circle"></i> Account</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="~/Customer/Register" id="search"><i class="fas fa-wpforms"></i> Register</a></li>
                            <li><a href="~/Customer/Signin"><i class="fas fa-sign-in"></i> Signin</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Lessons<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="~/Home/Lesson2">Lesson 2</a></li>
                            <li><a href="~/Home/Lesson3">Lesson 3</a></li>
                            <li><a href="~/Home/Lesson4">Lesson 4</a></li>
                            <li><a href="~/Home/Lesson5">Lesson 5</a></li>
                            <li><a href="~/Home/Birthday">Birthday</a></li>
                            <li><a href="/Foo/Bar">Foo/Bar</a></li>
                            <li><a href="/Pizza/Bake">Bake Pizza</a></li>
                            <li><a href="/Pizza/Eat/5">Eat Pizza</a></li>
                            <li><a href="/Free/Bird">Free Bird</a></li>
                            <li><a href="/Home/AddNumbers">Add Numbers</a></li>
                            <li><a href="/Home/Stuff">Stuff</a></li>
                            <li><a href="/Home/DisplayList">Display List</a></li>
                            <li><a href="/Home/PrimaryColors">Primary Colors</a></li>
                            <li><a href="/Product/Unit2Project">Unit2Project</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <p class="navbar-text"><i>&copy; 2018 Paul Lee</i></p>
            <button type="button" class="btn btn-default navbar-btn pull-right">Sign In</button>
        </div>
    </nav>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
