
@{
    ViewBag.Title = "Results";
}

<h2>Results</h2>
<div class="row">
    <div class="col-sm-6">
        Thanks @ViewBag.ResultName<br />
        Your birthday is @ViewBag.ResultBD<br />

        You have selected the following balloons:
        <ul>
            @{
                foreach (var balloon in ViewBag.BalloonList)
                {
                    <li style="color: @balloon;">@balloon</li>
                }

            }
        </ul>
    </div>
    <div class="col-sm-6" style="text-align:center;">
        @{
            foreach (var balloon in ViewBag.BalloonList)
            {
                string imagename = "../images/" + balloon + ".png";
                string id = balloon + "Img";
                <img src="@imagename" alt="@balloon" class="ball" id="@id" />
            }
        }
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/birthday.js"></script>
}